/**{border-style: solid;}*/
html, body {
    margin: 0;
    padding: 0;

    min-height: 100%;

    color: black;

    font-family: 'Judson', serif;
    font-size: 18px;
    line-height: 28px;
    word-spacing: 2px;
}
.title{
	font-family: 'Quando', serif;
	font-size: 1.5rem;
}
nav{
	background-color: #D4D4D4;
	display: flex;
	justify-content: space-between;
	align-content:center;
	padding: 5px;
	border-bottom: solid;
}
nav a{
	color: black;
	padding:0 25px; 
}

.intro {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	width: 100%;
	box-sizing: border-box;

}
.intro p{

	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right:30px;

	text-align: center;
	font-size: 1.2rem;
	color: #808080;
}
.intro img{
	border-radius: 15%;
    width: 20%;
    border-style: solid;
    margin-right: 20px;
}
.content_1{
	padding: 20px;
	margin-bottom: 10px;
}
.content_2{
	display: flex;
	justify-content:center;
}
table{
	border-collapse: collapse;
	margin: 10px;
}
td{
	border:solid black;
	text-align: center;
	display: inline-flex;
	justify-content:center;
}
	
.table_image{
	width: 200px;
	height: 200px;

}
.navi_button{
	padding: 50px;
	text-align: center;
}
/*.home{
	
	background-image: url(1435336213_button-white.png);
	background-repeat: no-repeat;
	background-color: #FFF;
	border:none;
	background-position: center;
	background-size: 100% 100%;
	width: 8em;
	height: 2em;
}*/

.home{
	font-family: 'Pacifico', cursive;
	border-radius: 10px;
	font-size: 25px;
}

footer{
	background-color: #D4D4D4;
	text-align: center;
	border-top: solid;
}